 html, body {
	    height: 100%;
	    overflow: auto;
	    font-family: Arial, Helvetica, Sans-Serif; 
	    font-size: 12px;
    }
    body {
	    padding: 0;
	    margin: 0;
    }
     div.Content
        {
            clear: both;
            margin: auto;
            padding-top:2px;
            padding-bottom:2px;
            width: 405px;           
            background-color:ActiveBorder;
            text-align:left;
        }
        div.ApplicationContainer
        {
            clear: both;
            margin: auto;
            width: 400px;           
            height: 300px;
        }
        div.ContentHelp
        {
            clear: both;
            margin: auto;
            width:400px;           
            background-color:White;
            text-align:left;
            padding-top:5px;
            text-indent:5px;
            padding-bottom:5px;
        }